.container {
  min-height: 100dvh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  background: #3c3c3e;
}

.header {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 10;
}

.main {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 100%;
}

.footer {
  position: absolute;
  top: calc(100dvh - 75px);
  height: 75px;
  width: 100%;
  z-index: 10;
}
