.container {
  min-height: 100dvh;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  z-index: 10;
}

.main {
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100dvh - 120px);
  min-height: calc(100dvh - 120px);
  max-height: calc(100dvh - 120px);
  width: 100%;
  background: #6d6e71;
  transform: translateY(-100px);
}

.footer {
  width: 100%;
  transform: translateY(-100px);
}
